/* @tailwind base;
@tailwind components;
@tailwind utilities;

/* Kamu bisa menambahkan font global di sini jika mau */
/* @layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  body {
    @apply bg-[#F0F4FF]; /* Warna background default */
  /* }
} */ 
 @import "tailwindcss";